


  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300&display=swap');


.section-p1{
	padding: 10px 100px;

}
.section-m2{
	margin:40px 0 ;
}
.section-q1{
		padding: 5px 50px;

}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins';


}
body{
	width: 100%;
	overflow: x:hidden;

}

#header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: white;
	box-shadow: ;
	height: 100px;
	z-index:999 ;
	position: sticky;
	top: 0;
	left: 0;
	padding: 30px 70px;
}
#navbar{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

} 
#navbar li{
	list-style: none;
	padding: 0 20px;
	position: relative;
}

#navbar li a{
	text-decoration:none ;
	font-size: 18px;
	font-weight: 800;
	color: black;
	transition: 0.3s ease;
	font-weight: 900;
	padding: 10px 20px;


}
#navbar li a:hover
{ 
	color: #DF2E38;
}
#navbar li a.active
{
color: #DF2E38;
} 
#hero
{


	background-image: url("C:/Users/soumya/Desktop/NewProject/Images/wp4003428-levi-strauss-co-wallpapers.jpg");
	height: 90vh;
	width: 100%;
	background-position:  top 20% left 20%;
	background-size: cover; 
	padding: 20px 90px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-shadow:  0.2px 0.2px;


}
.h1{
	margin-top: 100px;
	font-weight: 500;
	font-size: 50px;
	color: white;

}
.h2 .letter{
	font-size:80px ;
	font-weight: 600;
	color: white;
}

.h3{
	font-size: 30px;
	color: white;
	font-weight: 380;
	margin-top: 20px;

}
#Info button{
	margin-top: 20px;
	background: #F1DBBF;
	border-style: none;
	padding: 15px 50px;
	font-weight: 900;
	border-radius: ;
	color: black;
	font-size: 20px;
	border-radius: 3px;

	
}
#Info button:hover{
	color: white;
	background-color:#B99B6B;
	opacity:90% ;

}

#N1{
	font-size: 30px;
	text-align: center;
	padding: 40px;
	font-size: 60px;
}
.container {

	min-width: 100%;
	display: flex;

	
}

.image {
  flex-basis: calc(33.33% - 20px);
  margin: 10px;
}

.image img {
  max-width: 100%;
  height: auto;
}

.Clothes-info{
	font-size: 20px;
	text-align: ;
	margin-top: 10px;
}
#N2{

	font-size: 30px;
	text-align: center;
	padding: 30px;
	font-size: 60px;

}
#product1 .pro-container{
	padding:5px 30px ;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 10px ;


}
#product1 .pro{
	width: 29%;
	min-width: 250px;
	padding: 20px 20px ;
	border: 1px solid #EEEEEE;
	transition: 0.3s ease;
	margin-top: 20px;

} 
#product1 .pro:hover{
	box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.09) ;
}

#product1 .pro img{

	 width: 100%;
}
.des{
	padding: 15px;
}
#banner{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-image: url("https://lh3.googleusercontent.com/drive-viewer/AAOQEORpWs9Gav30voFCBb-IPMGlh0yX0DT3X8zHvy8Gt6Q4StxEY9N6Xz6QycUfII5N3O59kFwPaMbYxo7mwFBMB8ACeafYuQ=s1600");
	width: 100%;
	height: 40vh;
	background-size: cover;
	background-position: center;
	color: white;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
.x1{
	font-size: 60px;
	font-weight: 600;
}
.x2{
	font-size: 19px;
	font-weight: 200;
	font-style: bold;
}


#sm-banner{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
} 
#sm-banner .banner-box{ 
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background-image: url("https://lh3.googleusercontent.com/drive-viewer/AAOQEOQ3pCZ5JD3yc_yEoTpU46Dep1MzULhwzRQO2lHBUa_YgjHNgufL9-0CeYSxHhN5MlwCYy3XOxaYVQ-LFAW_gISaktDQ=s1600");
	min-width: 630px;
	height: 50vh;
	background-size: cover;
	background-position: center;
	color: white;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  padding: 30px;

}
#sm-banner .banner-box2{
	background-image: url("https://lh3.googleusercontent.com/drive-viewer/AAOQEOTlH-79H35P2XWzSUZ-36azwNBbICLlZc8k5xBVCwPpbebpYRHxxtpofEVd0k0MEiinfP30CjqTXwrgemx9Y8PTrp7W6Q=s1600");

}

#sm-banner h4{
	color: white;
	font-size: 20px;
}
#sm-banner h1{
	color: white;
	font-size: 50px;
	font-size:400;
}	
#sm-banner span{
	color: white;
	font-size: 20px;
	padding-bottom: 5px;
}
.B1{
	margin-top: 20px;
	background:transparent;
	padding: 15px 30px;
	font-weight: 900;
	border-radius: ;
	color: white;
	font-size: 20px;
	border-style: solid white;
	cursor: pointer;
	outline: none;
	border: 1px solid white;
	transition: 0.4 ease;
}
.B1:hover{
	background: #214252;
	border: 1px solid #214252 ;
}
#Newsletter{
	text-align: center;
	height: 200px;
	width: 100%;
	padding: 55px 40px;
	background-color: #F3DEBA;
	font-size: 30px;
	border-radius: 3px;
}

.k1{
	margin-top: 20px;
	padding: 12px 25px;
	background-color: #088178;
	border: 2px solid black;
	color: white;
	transition: 2 ease;
	border-radius: 3px;
	font-weight: 400;
}
.k1:hover{
	color: white;
background-color: ;
}

#mobile{
	display: none;
	align-items: center;
}

footer {
display: flex;
flex-wrap:wrap;
justify-content: space-between;
background-color: #152736;
color: white;
}
footer .col{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 10px;
	padding: 20px 5px;
	
}
footer p{
	font-size: 14px;
	margin: 0 0 10px 0;

}
footer a{
	font-size: 12px;
	text-decoration: none;
	color: white;
	marker-mid: 10px;
}

.h2 {
  font-weight: 900;
  font-size: 3.5em;
}

.h2 .letter {
  display: inline-block;
  line-height: 1em;
  margin-top: 20px;
} 
@media (max-width:1024px)
{
.h1 {
    margin-top: 0px;
    font-size: 37px;

}
#product1 .pro-container {
    padding: 5px 64px;
   
}
.section-p1 {
    padding: 10px 197px;
}
#sm-banner .banner-box {
    height: 53vh;
    min-width: 100%;
}
#sm-banner .banner-box {

    margin-top: 20px;
}
}
.Head-1{
	text-align: center;
	font-size: 30px;
}
.L1{
	font-weight: 900;
	text-align: center;
	font-size: 35px;
	padding: 20px;
	color: #CD0404;

}
.C1{
	font-size: 25px;
	padding: 0px 50px 50px;

}
.Centerimg{
	text-align: center;
	padding: 40px;
}
.H2{
	font-size: 30px;
padding: 20px 40px;

}
.Para{
	padding: 20px 40px;
	font-size: 20px	;
}
body {
      background-color: #fff;
      color: #333;
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      line-height: 1.6;
    }

    header {
      background-image: url("banner-image.jpg");
      background-size: cover;
      height: 300px;
    }

    .container {
      max-width: 1000px;
      margin: 0 auto;
      padding: 50px;
    }
 
.section{
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	max-width: 80%;
	margin: auto;

}
.end-btn{
	text-align: center;
	padding: 30px;

}
.end{
height: 40px;
width: 70px;	
color: white;
background-color: #245953;
border: none;
}
.end:hover{
	background-color: #DF2E38;
}
.section-left{
	flex-direction: row-reverse;

}
.sectag{
	font-size: 30px;
	font-weight: 800;
	color: black;

}
.sectionsubtag{
	padding: 10px 0px;
	font-size: 16px;
}
.paras{
	padding: 20px 60px;
}

 .btns{
 	font-size: 20px;
 	text-decoration: none;
 	color: black;
 	font-weight: 300;
}
.btns:hover{
	color: red;
}

    .blog-post {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px;
    }

    .blog-post img {
      max-width: 100%;
      height: auto;
      margin-bottom: 20px;
    }

    .blog-post h2 {
      font-size: 24px;
      font-weight: 500;
      text-align: center;
      margin-bottom: 10px;
    }

    .blog-post p {
      text-align: justify;
    }

    .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #ff9500;
      color: #fff;
      font-weight: 500;
      text-decoration: none;
      border-radius: 5px;
      margin-top: 20px;
    }

    .button:hover {
      background-color: #ff6600;
    }

#Maindiv{
	display: flex;
	padding: 20px ;
}
.Leftimg{
	width: 100%;
	height: auto;
}

@media (max-width:1280px)
{

.responsive{
  width: 100%;
  height: 100%;
}
.section-p1 {
    padding: 10px 195px;
}
#sm-banner .banner-box {
   
    min-width: 100%;
}
#sm-banner .banner-box {

    margin-top: 20px;
}
}
@media (max-width:820px)
{

.responsive{
  width: 100%;
  height: auto;
}
	#navbar{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		position: fixed;
		top: 0;
		right: -300px;
		height: 100vh;
		width: 300px;
		background-color: white;
		box-shadow: 0 40px 60px rgba(0, 0, 0, 0.09 );
		padding:60px 0 0 10px ;
	}
	#navbar li{
		margin-bottom: 25px;
	}
	.h2 {

    font-size: 5.5em;
}
	#mobile{
	display: flex;
	align-items: center;
}
	#mobile{
		color: black;
		font-size: 20px;
		padding-left: 20px;
	}
	#navbar .active{
		right: 0px;

	}
	#hero {
    padding: 20px 30px;
     height: 60vh;
  }
  #hero .h1{
  	margin-top: 70px;
  }
  .container {
   
    flex-direction: column;
   
}
.container {

    padding: 10px 50px;
}
#product1 .pro-container {
    flex-direction: column;
 }
 #product1 .pro {
    min-width: 95%;
    margin-top: 20px;
}
.des {
    padding: 25px;
    font-size: 43px;
}
#sm-banner {
    
    
    padding: 20px 80px;
}

.responsive{
  width: 100%;
  height: auto;
}
}

@media (max-width:414px)
{
	#hero .h1 {
    margin-top: 0px;
}
#hero {
    padding: 26px 27px;
    height: 88vh;
}
}
#prodetails{
	margin-top: 20px;
}
#prodetails .single-main-image{
	width: 50%;
	margin-right: 50px;

}
.small-img-grp{ 
display: flex;
justify-content: space-between;
}
.small-img-col{
	flex-basis: 30%;
	margin-top: 20px;
	cursor: pointer;
}
#prodetails{
	display: flex;
	margin-top:20px ;
}
#prodetails .single-pro-details{
	padding-top:10px ;
	width: 90%;
}
#prodetails .single-pro-details h2{
	padding: 5px 0px 20px 0;
	font-size: 40px;
}
#prodetails .single-pro-details h3{
	padding-top:20px ;
}
#prodetails .single-pro-details h4{
	margin-top: -20px;
}
#prodetails .single-pro-details span{
	padding-right: 30px;
	margin-top: 10px;
}
#prodetails .single-pro-details .Details{
	margin-top: 30px;
}
#prodetails .single-pro-details select{
	display: flex;
	padding: 10px 20px;
	padding-left: 6px;
	margin-bottom: 10px;
	margin-bottom: 25px;
	border: 2px solid black;
	border-radius: 5px;
	font-size: 20px;
	height: 50px;

}
#prodetails .single-pro-details .Info{
	height: 48px;
	width: 80px;
	font-size: 20px;
	padding-left: 20px;
	border: 2px solid black;
	height: 50px;
	border-color: gray;
	border-radius:5px ;

}
 #prodetails .single-pro-details button{
 	height: 50px;
 	width: 250px;
 	margin-bottom: 20px;
 	margin-left: 10px;
 	background-color: transparent;
 	color: black;
 	border: 2px solid black;
 	border-radius: 2px;
 	font-size: 20px;
 	font-weight: 800;
 	border-radius: 5px;

 }

  #prodetails .single-pro-details button:hover{
  	background-color: #D21312;
  	color: white;
  	border: none;
  }
  #prodetails .single-pro-details .Details{
  	font-size: 30px;
  }
  #prodetails .single-pro-details p{
  	font-size: 20px;
  }
  @media (max-width:820px){
  	#prodetails{
  		display: flex;
  		flex-direction: column;
  	}
  	#prodetails .single-main-image{
  		width:100% ;
  		margin-right:50px ;
  	}

  }
@media (max-width:480px)
{
	
	 .h2 .letter{
	 	font-size: 30px;
	 	padding: 0px 2px;
	 	margin-top:-20px ;


	}
}